<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurneroRegistrador.Properties.Settings.Servidor" connectionString="http://10.10.0.105:8080" />
        <add name="TurneroRegistrador.Properties.Settings.ServicePath"
            connectionString="Turnos/servicios/" />
    </connectionStrings>
    <appSettings>
      <add key="idTerminal" value="1"/>
      <add key="defaultPriority" value="2"/>
      <add key="updateSpan" value="500"/>
      <add key="updateOnErrorSpan" value="2000"/>
    </appSettings>
</configuration>