<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurneroRegistrador.Properties.Settings.Servidor" connectionString="http://192.168.1.55:8080" />
        <add name="TurneroRegistrador.Properties.Settings.ServicePath"
            connectionString="Turnos/servicios/" />
    </connectionStrings>
    <appSettings>
      <add key="idTerminal" value="800"/>
    </appSettings>
</configuration>