<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurneroViewer.Properties.Settings.VideoPath" connectionString="C:/Users/Facundo/Desktop/CED/CED video.mp4" />
        <add name="TurneroViewer.Properties.Settings.Servidor" connectionString="http://192.168.1.55:8080" />
        <add name="TurneroViewer.Properties.Settings.ServicePath" connectionString="Turnos/servicios/" />
        <add name="TurneroViewer.Properties.Settings.ClimaServer" connectionString="http://api.openweathermap.org" />
        <add name="TurneroViewer.Properties.Settings.ClimaPath" connectionString="data/2.5/weather?q=mar%20del%20plata&amp;mode=xml" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="idTerminal" value="901"/>
    <add key="msg" value=""/>
    <add key="showBar" value="1"/>
  </appSettings>
</configuration>