<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurneroViewer.Properties.Settings.VideoPath" connectionString="C:/Users/Facundo/Desktop/CED/CED video.mp4" />
        <add name="TurneroViewer.Properties.Settings.Servidor" connectionString="http://ikrit.dyndns-office.com:8080" />
        <add name="TurneroViewer.Properties.Settings.ServicePath" connectionString="Turnos/servicios/" />
        <add name="TurneroViewer.Properties.Settings.ClimaServer" connectionString="http://api.openweathermap.org" />
        <add name="TurneroViewer.Properties.Settings.ClimaPath" connectionString="data/2.5/weather?q=mar%20del%20plata&amp;mode=xml&amp;APPID=fdf37c7191b28bd0bfe4797cc2fbaf9a" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="idTerminal" value="901"/>
    <add key="msg" value=""/>
    <add key="showBar" value="1"/>
    <add key="windowState" value="0"/> <!-- 0-Normal / 1-Maximizado -->
    <add key="updateSpan" value="500"/>
    <add key="updateOnErrorSpan" value="5000"/>
    <add key="startTime" value="07:30:00"/>
    <add key="finishTime" value="23:50:00"/>
  </appSettings>
</configuration>