<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TurneroAtencion.Properties.Settings.Servidor" connectionString="http://10.10.0.105:8080/" />
        <add name="TurneroAtencion.Properties.Settings.ServicePath" connectionString="Turnos/servicios/" />
        <add name="TurneroAtencion2.Properties.Settings.ServicePath"
            connectionString="Turnos/servicios/" />
        <add name="TurneroAtencion2.Properties.Settings.Servidor" connectionString="http://10.10.0.105:8080" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
      <appSettings>
      <add key="idTerminal" value="1"/>
      <add key="updateSpan" value="500"/>
      <add key="updateOnErrorSpan" value="5000"/>
    </appSettings>
</configuration>
